In [1]:
import pandas as pd
import re
text = pd.read_pickle('noteText.pkl')
gcs = pd.read_pickle('gcs.pkl')

In [59]:
import datetime
gcs['newdate'] = gcs['charttime'].apply(lambda x: datetime.date(x.year,x.month,x.day))
text['newdate'] = text['chartdate'].apply(lambda x: datetime.date(x.year,x.month,x.day))

In [61]:
gcs.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>subject_id</th>
      <th>charttime</th>
      <th>itemid</th>
      <th>valuenum</th>
      <th>newdate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>2191-03-16 08:00:00</td>
      <td>198</td>
      <td>15.0</td>
      <td>2191-03-16</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6</td>
      <td>2175-05-31 02:00:00</td>
      <td>198</td>
      <td>15.0</td>
      <td>2175-05-31</td>
    </tr>
    <tr>
      <th>2</th>
      <td>13</td>
      <td>2167-01-11 05:00:00</td>
      <td>198</td>
      <td>15.0</td>
      <td>2167-01-11</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>2149-11-11 00:00:00</td>
      <td>198</td>
      <td>3.0</td>
      <td>2149-11-11</td>
    </tr>
    <tr>
      <th>4</th>
      <td>19</td>
      <td>2108-08-06 13:00:00</td>
      <td>198</td>
      <td>14.0</td>
      <td>2108-08-06</td>
    </tr>
  </tbody>
</table>
</div>

In [66]:
# try to join the two table on newdate and subject_id
gcs_text = pd.merge(gcs,text,how = 'left',on = ['subject_id','newdate'])
gcs_text.to_pickle('gcs_text.pkl')

In [3]:
import pandas as pd
gcs_text = pd.read_pickle('gcs_text.pkl')
gcs_text.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>subject_id</th>
      <th>charttime</th>
      <th>itemid</th>
      <th>valuenum</th>
      <th>newdate</th>
      <th>chartdate</th>
      <th>description</th>
      <th>text</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>2191-03-16 08:00:00</td>
      <td>198</td>
      <td>15.0</td>
      <td>2191-03-16</td>
      <td>2191-03-16</td>
      <td>CHEST (PORTABLE AP)</td>
      <td>[**2191-3-16**] 12:57 PM\n CHEST (PORTABLE AP)...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>2191-03-16 08:00:00</td>
      <td>198</td>
      <td>15.0</td>
      <td>2191-03-16</td>
      <td>2191-03-16</td>
      <td>Report</td>
      <td>nursing progress note see careview for details...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>2191-03-16 08:00:00</td>
      <td>198</td>
      <td>15.0</td>
      <td>2191-03-16</td>
      <td>2191-03-16</td>
      <td>Report</td>
      <td>Brief Nursing Coverage 3PM-7PM:\nPt remains al...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2191-03-16 08:00:00</td>
      <td>198</td>
      <td>15.0</td>
      <td>2191-03-16</td>
      <td>2191-03-16</td>
      <td>Report</td>
      <td>[**2191-3-16**] 0500\nGeneral: Pt in to EW fro...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6</td>
      <td>2175-05-31 02:00:00</td>
      <td>198</td>
      <td>15.0</td>
      <td>2175-05-31</td>
      <td>2175-05-31</td>
      <td>R RENAL TRANSPLANT U.S. RIGHT</td>
      <td>[**2175-5-31**] 11:03 AM\n RENAL TRANSPLANT U....</td>
    </tr>
  </tbody>
</table>
</div>

In [85]:
# filter out notes
# key step: to list
des_list = gcs_text['description'].tolist()
dd = des_list[100:500]
note_index = [True for s in dd if 'note' in s]

In [86]:
note_index.head()

AttributeError: 'list' object has no attribute 'head'

In [78]:
d_list

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>CHEST (PORTABLE AP)</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>4</th>
      <td>R RENAL TRANSPLANT U.S. RIGHT</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>7</th>
      <td>CHEST (PORTABLE AP)</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>10</th>
      <td>CT HEAD W/O CONTRAST</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>14</th>
      <td>T-SPINE</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>18</th>
      <td>CHEST (PORTABLE AP)</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>3969768</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969769</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969770</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969771</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969772</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969773</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969774</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969775</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969776</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969777</th>
      <td>CT HEAD W/O CONTRAST</td>
    </tr>
    <tr>
      <th>3969778</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969779</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969780</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969781</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969782</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969783</th>
      <td>CHEST (PORTABLE AP)</td>
    </tr>
    <tr>
      <th>3969784</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969785</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969786</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969787</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969788</th>
      <td>CHEST (PORTABLE AP)</td>
    </tr>
    <tr>
      <th>3969789</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969790</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969791</th>
      <td>CHEST (PORTABLE AP)</td>
    </tr>
    <tr>
      <th>3969792</th>
      <td>SEL CATH 3RD ORDER THOR</td>
    </tr>
    <tr>
      <th>3969793</th>
      <td>CT HEAD W/O CONTRAST</td>
    </tr>
    <tr>
      <th>3969794</th>
      <td>CT HEAD W/O CONTRAST</td>
    </tr>
    <tr>
      <th>3969795</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969796</th>
      <td>Report</td>
    </tr>
    <tr>
      <th>3969797</th>
      <td>Report</td>
    </tr>
  </tbody>
</table>
<p>3969798 rows × 1 columns</p>
</div>

['CHEST (PORTABLE AP)', 'Report', 'Report', 'Report', 'R RENAL TRANSPLANT U.S. RIGHT']