In [1]:
import psycopg2
import matplotlib.pyplot as plt
import pandas as pd

hostname = 'localhost'
username = 'postgres'
password = 'df223554'
database = 'mimic3'

myConnection = psycopg2.connect(host=hostname, user=username, password=password, dbname=database)

In [2]:
def doQuery(conn,q) :

    df = pd.read_sql(q, con=conn)
    return(df)

In [15]:
query1 = 'select subject_id,chartdate,description,text from mimiciii.noteevents'
query2 = 'select subject_id,charttime,itemid,valuenum from mimiciii.chartevents where itemid = 198' # 198 for 'GCS Total'
query3 = 'select subject_id,charttime,itemid,valuenum from mimiciii.chartevents where itemid = 198'

In [4]:
# This can eat up your memory!!
df1 = doQuery(myConnection,query1)

In [5]:
df1.to_pickle('noteText.pkl')
print(df1.shape)

(2083180, 4)

In [16]:
df2 = doQuery(myConnection,query2)

In [19]:
df2.to_pickle('gcs.pkl')
print(df2.head(5))

   subject_id           charttime  itemid  valuenum
0           4 2191-03-16 08:00:00     198      15.0
1           6 2175-05-31 02:00:00     198      15.0
2          13 2167-01-11 05:00:00     198      15.0
3           9 2149-11-11 00:00:00     198       3.0
4          19 2108-08-06 13:00:00     198      14.0

In [20]:
df2.shape

(945638, 4)